.reset-filters {
    color: var(--ion-color-danger);
  }
  
  ion-title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
  }
  
  ion-item .dot {
      display: inline-block;
  
      height: 10px;
      width: 10px;
  
      background-color: darkblue;
      border-radius: 5px;
      margin-right: 10px;
  }
    