<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
        <ion-title>
        {{title}}
        </ion-title>
        <ion-buttons slot="end">
            <!--
            <ion-button [routerLink]="['/channel-select']">
            -->
            <ion-button (click)="presentFilter()">
                <ion-icon slot="icon-only" name="options"></ion-icon>
            </ion-button>
            <!--
            <ion-button [routerLink]="['/notification']">
            -->
            <ion-button (click)="presentNoti()">
                <ion-icon name="notifications"></ion-icon>
                <ion-badge id="notifications-badge" color="danger" [hidden]="badgeNumber == 0">{{badgeNumber}}</ion-badge>
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="새로고침 중"
            refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <div class="led-box">
            <div class="led-green"></div>
            <ion-label class="led"><b>정상</b></ion-label>&nbsp;
            <div class="led-yellow"></div>
            <ion-label class="led"><b>상태</b></ion-label>&nbsp;
            <div class="led-red"></div>
            <ion-label class="led"><b>통신에러</b></ion-label>&nbsp;
            <div class="led-purple"></div>
            <ion-label class="led"><b>범위이탈</b></ion-label>&nbsp;
        </div>
        <br />
        <!--
        <ion-item [hidden]="channels" lines="none">
            측정항목이 없습니다.
        </ion-item>
        -->
        <ion-segment color="primary" [(ngModel)]="segment" scrollable>
            <ion-segment-button *ngFor="let channel of channels ; let i = index" [value]="i" (click)="selectedTab(i)"> 
                {{channel.ch_name}}
            </ion-segment-button>
        </ion-segment>

        <ion-slides #slider (ionSlideWillChange)="moveButton($event)">
            <ion-slide *ngFor="let channel of channels">
            <ion-grid fixed>
                <!--
                <ion-item lines="none">
                    <ion-label text-center>{{channel.ch_name}}</ion-label>
                </ion-item>
                -->
                <ion-row align-items-stretch>
                    <ion-col no-padding size="12" size-md="6" *ngFor="let sensor of sensors; let i = index">   
                        <ion-card *ngIf="sensor.channel_id == channel.id" class="gauge-card">
                            <ion-card-header>
                                <ion-item button lines="none" detail="false" routerLink="/detail/{{sensor.id}}">
                                    <ion-card-title color="dark"><b>{{ sensor.name_tag }}</b></ion-card-title>
                                    <ion-label item-end text-right style="font-weight: bolder">{{sensor.temp}}°C</ion-label>
                                </ion-item>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row>
                                    <ion-col text-left>
                                        
                                        <linear-gauge #linear_gauge
                                            width="150"
                                            height="50"
                                            minor-ticks="4"
                                            stroke-ticks="true"
                                            color-plate="#fff"
                                            border-shadow-width="0"
                                            font-numbers-size="40"
                                            borders="false"
                                            bar-begin-circle="false"
                                            tick-side="left"
                                            number-side="left"
                                            needle-side="left"
                                            needle-type="line"
                                            ticks-width="50"
                                            ticks-width-minor="15"
                                            needle-width="10"
                                            color-needle="#888888"
                                            color-needle-end="#888888"
                                            bar-width="20"
                                            value="{{sensor.value}}"
                                        >
                                        </linear-gauge>
                                        
                                    </ion-col>

                                    <ion-col [hidden]="sensor.id != limits[i]?.sensor_id" text-right>
                                        <ng-container *ngIf="limits[i]?.bool_max && sensor.value > limits[i]?.value_max; else second">
                                            <ion-label color="tertiary" class="sensor-value">{{ sensor.value }} {{ sensor.unit }}</ion-label>
                                        </ng-container>
                                        <ng-template #second>
                                            <ng-container *ngIf="limits[i]?.bool_min && limits[i]?.value_min > sensor.value; else third">
                                                <ion-label color="tertiary" class="sensor-value">{{ sensor.value }} {{ sensor.unit }}</ion-label>
                                            </ng-container>
                                        </ng-template>
                                        <ng-template #third>
                                            <ion-label color="dark" class="sensor-value">{{ sensor.value }} {{ sensor.unit }}</ion-label>
                                        </ng-template>
                                    </ion-col>
                                    <ion-col [hidden]="sensor.id == limits[i]?.sensor_id" text-right>
                                        <ion-label color="dark" class="sensor-value">{{ sensor.value }} {{ sensor.unit }}</ion-label>
                                        
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col text-left>
                                        <ng-container [ngSwitch]="sensor.state">
                                            <div *ngSwitchCase="00">
                                                <ion-label color="success"><b>{{MSG_OK}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchCase="02">
                                                <ion-label color="danger"><b>{{MSG_NETWORK_ERROR}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchCase="03">
                                                <ion-label color="warning"><b>{{MSG_CORRECTION}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchCase="04">
                                                <ion-label color="warning"><b>{{MSG_REPLACE}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchCase="06">
                                                <ion-label color="warning"><b>{{MSG_TROUBLE}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchCase="07">
                                                <ion-label color="warning"><b>{{MSG_CLEAN}}</b></ion-label>
                                            </div>
                                            <div *ngSwitchDefault>
                                                <ion-label></ion-label>
                                            </div>
                                        </ng-container>
                                    </ion-col>
                                    <ion-col text-right>
                                        <ion-note>
                                            {{ sensor.timestamp }}
                                        </ion-note>
                                    </ion-col>
                                </ion-row>        
                            </ion-card-content>
                        </ion-card>        
                    </ion-col>
                </ion-row>
            </ion-grid>
            </ion-slide>
        </ion-slides>
    </ion-list>

</ion-content>
