
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  //padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-label {
  .led {
    font-size: 15px;
  }
}

.sensor-value {
  //color: #000000;
  font-size: 25px;
  font-weight:bolder;
}	

/*
  display:inline-block;
*/

/*
ion-grid{
  padding: 0 !important; 
  ion-card{
    padding: 0 !important; 
    width:100%;
    margin-left:0 !important;
    margin-right:0 !important;
    ion-card-content{
        padding: 0 !important; 
    }
  }
}
*/


.led-box {
  height: 10px;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}


.led-green {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-yellow {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
}

.led-red {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}

.led-brown {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #b35900;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000000 0 -1px 9px, #441313 0 2px 12px;
}


.led-blue {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #0000ff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000066 0 -1px 9px, rgb(102, 153, 255) 0 2px 12px;
}

.led-purple {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #7044ff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000066 0 -1px 9px, rgb(102, 153, 255) 0 2px 12px;
}

.led-black {
  display:inline-block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #000000;
  border-radius: 50%;
}

/*ngx echarts gauge*/
@media screen and (orientation: portrait) {
  .demo-chart {
    height: 20vh;
    display: block;
    width: auto;
  }
}

/*layout*/
.scroll {
  background: #EDEDED;
}

/*
.gauge-card {
  background-color: #ffffff;
  //background: linear-gradient(to bottom, #711B86, #00057A);
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  border-radius: 1.75rem;
  animation: fadein 1.25s ease-in-out 0ms 1;
  color: #443282;
}
*/

#notifications-badge {
  background-color: red;
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
}

