.login-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}



.rounded-btn {
  -webkit-border-radius: 50px;
  font-size: 18px;
  line-height: 40px;
  padding: 0 100px;
  border-radius: 50px;

}