<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button (click)="onSignup()">
        <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
        계정만들기
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p *ngFor="let alert of alerts">
        <ion-item *ngIf="showInstallBtn">
          <ion-label>{{alert.message}}</ion-label>
          <ion-button (click)="showInstallBanner()" color="primary">앱으로 보기</ion-button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <ion-icon name="close-circle" item-right (click)="closeAlert()"></ion-icon>
        </ion-item>
    </p>

    <div class="login-logo">
      <img src="assets/img/iot_logo.svg" alt="Ionic logo">
    </div>   

    <form [formGroup]="credentialsForm" (ngSubmit)="onLogin()">
          <ion-item>
            <ion-label position="floating">아이디</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">패스워드</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <br /><br />
            <ion-button shape="round" outline expand="full" type="submit" [disabled]="!credentialsForm.valid">로그인</ion-button>

    </form>
    <ion-item lines="none">
        <ion-label button class="ion-text-center" [routerLink]="['/forgot']" routerDirection="forward" clear>계정찾기</ion-label>
    </ion-item>
  </ion-content>
  <ion-footer>
    
  </ion-footer>